<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Goederenontvangst_server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Goederenontvangst_server.Properties.Settings>
            <setting name="DBPath" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="ColumnSku" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="ColumnLocation" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="ColumnDescription" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="ColumnEan" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>unset</value>
            </setting>
        </Goederenontvangst_server.Properties.Settings>
    </userSettings>
</configuration>